node_modules
.env
.env.local
.env.development
.env.test
.env.production
*.log
dist
dist-ssr
*.local
cache/
.vscode/
.idea/
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json
logs/
*.log
.DS_Store
Thumbs.db
plan.md
